#body1
{
    margin-left:0px;  margin-top:0px;



}




.submit
{
    font-size: 20px; 
    font-family: sans-serif;
    width: 100%;
   border-radius: 30px;
    color: aliceblue;
    border-color: black;


}



.input-group{font-family: sans-serif;
    width: 100%;

    margin: 5px;
    border-radius: 30px;
    color: aliceblue;
    border-color: black;

}


input{font-family: sans-serif;
    width: 80%;


    border-radius: 30px;
    color: aliceblue;
    border-color: black;
    padding-left: 10%;
    padding-right: 10%;

}


.error

{

    color: red;

    font-size: 15px;

}
@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        th,tr { 
            display: block; 
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }



        th { 
            /* Behave  like a "row" */
            position: relative;
        }



        th:before { 
            /* Now like a table header */
            margin-right: 6%;
        }

        /*
        Label the data
        */
        th:nth-of-type(1):before { content: "Customer Name :"; }
        th:nth-of-type(2):before { content: "Customer Email : "; }
        th:nth-of-type(3):before { content: "Customer Contact :"; }
        th:nth-of-type(4):before { content: ""; }

}















