 table {
  
        
        
          border-collapse: collapse;
   
}
        
   table, tr , td  {
  border: 1px solid grey;
  border-collapse: collapse;
 
}  

  table, tr , th  {
  border: 1px solid grey;
  border-collapse: collapse;
 
} 
        
      
        
        div
        {
            
        align-content: center;    
            
        }
        
        .head
        {
            
    background-color: aqua;        
            align-content: center;      
        }
        