<div class="head">

  <div class="container">
    <div class="row">


      <div class="col-sm-3"></div>
      <div class="col-sm-6">

        <div id="main">
          <!-- start login content-->
          <label><h2><i>Login Here</i></h2></label>

          <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm.value)" novalidate>


            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" class="form-control" #loginEmailRef="ngModel" required placeholder="Email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" name="email" ngModel>
            </div>
            <!--error div-->
            <div *ngIf="loginEmailRef.errors && (loginEmailRef.dirty||loginEmailRef.touched)">
              <span [hidden]="!loginEmailRef.errors.required" class="error">please enter your email</span>
              <span [hidden]="!loginEmailRef.errors.pattern" class="error">please valid email</span>
            </div>
            <span class="error">{{emailError}}</span><br>


            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" #LoginPasswordRef="ngModel" minlength="6" required placeholder="Password" name="password" ngModel>
            </div>
            <!--error div-->
            <div *ngIf="LoginPasswordRef.errors && (LoginPasswordRef.dirty||LoginPasswordRef.touched)">
              <span [hidden]="!LoginPasswordRef.errors.required" class="error">please enter your password</span>
              <span [hidden]="!LoginPasswordRef.errors.minlength" class="error">please pasword length must be 6</span>
            </div>
            <span class="error">{{passwordError}}</span><br>

            <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">Login</button>
          </form>
          <div>{{loginMessage}}</div>
        </div>

      </div>









      <!-- end register content-->


    </div>
