
<div class="head">

    <div class="container">
        <div class="row">

            
            
           
           <div class="col-sm-3  col-xs-0 "></div>
            <div class="col-sm-6  col-xs-12 ">
               

                <!-- end login content -->


                <div id="main1">
                    <label><h2><i>REGISTER</i></h2></label>
                    
                    <form  #registrationForm ="ngForm"  (ngSubmit)="onSubmit(registrationForm.value)"  novalidate >


                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  type="text"  class="form-control" #nameRef="ngModel" minlength="4" required placeholder="User Name" name="name" ngModel   ></div>
                        <!--error div-->
                        <div *ngIf="nameRef.errors && (nameRef.dirty||nameRef.touched)" >
                            
                            <span  [hidden]="!nameRef.errors.minlength"  class="error">please enter atleast 4 characters</span> 
                              
                        </div>
                         <span class="error"></span>
                        
                        <div class="input-group" >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input   type="text" class="form-control"  #emailRef="ngModel" required placeholder="Email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" name="email" ngModel >
                        </div>
                          <!--error div-->
                        <div *ngIf="emailRef.errors && (emailRef.dirty||emailRef.touched)" >
                        <span  [hidden]="!emailRef.errors.pattern"  class="error">please valid email</span>  
                        </div>
                    <span class="error">{{RegisterEmailError}}</span> 
                      

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" #passwordRef="ngModel"minlength="6" required placeholder="Password" name="password" ngModel >
                        </div>
                          <!--error div-->
                        <div *ngIf="passwordRef.errors && (passwordRef.dirty||passwordRef.touched)" >
                           
                            <span  [hidden]="!passwordRef.errors.minlength"  class="error">please pasword length must be 6</span> 
                        </div>

                      

                        <button type="submit"   [disabled]="!registrationForm.form.valid"  class="btn btn-primary">REGISTER</button>
                       

                    </form>
                   
                    
                </div>



            </div></div></div>








    <!-- end register content-->


</div>